body{
    background-color: aquamarine;
}

header{
    background-color: rgb(179, 200, 191, 0.7);
    width: 100%;
    height: 22px;
}

a.main-page{
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    font-size: 18px;
    display: inline-block;
}
h1{
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-shadow: 2px 10px 20px black;
}
h2{
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 12px 20px black;
}
.news{
    width: 100%;
    height: 100%;
    margin: 300px 0px 0px 0px;
    background-color: rgb(176, 2, 122, 0.5) ;
}